{% extends 'books/base.html' %}

{% load static %}

{% block content %}

<div class="wrapper">
    <div class="bag-list">
        <div class="bag-item-wrap">
            <div class="bag-items">
                <img src="{% static 'books/images/product.png' %}">
                <div class="bag-item-content">
                    <h1>Name of books</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is
                        simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is
                        simply dummy text of
                    </p>
                </div>
            </div>
            <div class="bag-forms">
                <form action="{% url 'book' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id">
                    <button>Read more</button>
                </form>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="id" hidden>
                    <button style="width: 100px;">Buy</button>
                </form>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="id" hidden>
                    <button>Remove from bag</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}