{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'books/css/main.css' %}" />
</head>

<body>
    <nav class="nav" id="nav">
        <div class="close" id="close">✕</div>
        <p></p>
        <a href="{% url 'main' %}">Home</a>
        <a href="{% url 'profile' %}">My account</a>
        <a href="{% url 'bookmarks' %}">Bookmarks</a>
        <a href="{% url 'contact' %}">Contact Us</a>    
        <a href="{% url 'logout' %}">Log Out</a>
        
    </nav>
    <div class="container menu-head">
        <header>
            <div class="menu" id="open">
                <div class="menu-line"></div>
                <div class="menu-line"></div>
                <div class="menu-line"></div>
            </div>
            <div class="svg-icons">
                <form class="search" action="{% url 'search' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="seacrh" class="search-box" placeholder="  Search..." autocomplete="off">
                    <input type="submit" name="submit" hidden>
                </form>
                <div class="search-container">
                    <a>Search</a>
                </div>
                {% if user.is_authenticated %}
                <div class="register-container">
                    <a href="{% url 'addbook' %}">Add Book</a>
                </div>
                {% endif %}
                <div class="bag-container" style="text-align: center;">
                    <a href="{% url 'bag' %}">Bag</a>
                </div>
                {% if request.user.is_authenticated %}
                <div class="login-container">
                    <a href="{% url 'profile' %}">{{user.username}}</a>
                </div>
                <!-- <div class="img-container">
                    <img src="{% static 'books/images/123.png' %}" class="object-fit-cover">
                </div> -->
                <div class="img-container">
                    <img src="{{user.profile.profile_image.url}}" width=30  class="object-fit-cover">
                </div>
                {% else %}
                    <div class="login-container">
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                    <div class="register-container">
                        <a href="{% url 'register' %}">Register</a>
                    </div>
                {% endif %}
            </div>
        </header>
    </div>

    {% block content %}

    {% endblock %}

{% if page_obj.has_other_pages %}
    
    <ul style="padding:50px ;">
        {% if page_obj.has_previous %}
        <li style="color: black;padding: 20px;float: left;">
            <a href="?page={{page_obj.previous_page_number}}" style="color: black;"><h2>&lt;</h2></a>
        </li>
        {% endif %}
        {% for p in paginator.page_range %}
        {% if p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
        <li style="color: black;padding: 20px;float: left;">
            <a href="?page={{p}}" style="color: black;"><h2>{{p}}</h2></a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li style="color: black;padding: 20px;float: left;">
            <a href="?page={{page_obj.next_page_number}}" style="color: black;"><h2>&gt;</h2></a>
        </li>
        {% endif %}
    </ul>
{% endif %}

    <div class="black-bg">
        <div class="container">
            <footer>
                <h3 class="logo-text">BooKlify</h3>
                <h3>© Аll rights reserved</h3>
            </footer>
        </div>
    </div>


    <script src="{% static 'books/js/main.js' %}"></script>
</body>

</html>