{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'books/css/main.css' %}"/>
</head>


    {% block content %}

    {% endblock %}

    <div class="black-bg">
        <div class="container">
            <footer>
                <h3 class="logo-text">BooKlify</h3>
                <h3>© Аll rights reserved</h3>
            </footer>
        </div>
    </div>


    <script src="{% static 'books/js/main.js' %}"></script>
    </body>
</html>