<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bag</title>
    <link rel="stylesheet" href="assets/main.css">
</head>
<style>
</style>
<body>

    <nav class="nav" id="nav">
        <div class="close" id="close">✕</div>
        <p></p>
        <a href="main.html">Home</a>
        <a href="userAccount.html">My account</a>
        <a href="bookmarks.html">Bookmarks</a>
        <a href="">Help</a>
        <a href="">Log out</a>
         </nav>
        <div class="wrapper">
            <div class="container menu-head">
                <header>
                    <div class="menu" id="open">
                        <div class="menu-line"></div>
                        <div class="menu-line"></div>
                        <div class="menu-line"></div>
                    </div>
                    <div class="svg-icons">
                        <form class="search" action="" method="post">
                            <input type="text" name="Searchbox" class="search-box" placeholder="  Search..." autocomplete="off">
                            <input type="submit" name="submit" hidden>
                        </form>
                        <div class="search-container">
                            <a>Search</a>
                        </div>
                        <div class="bag-container" style="text-align: center;">
                            <a href="">Bag</a>
                        </div>
                        <div class="login-container">
                            <a href="login.html">Login</a>
                        </div>
                        <div class="register-container">
                            <a href="register.html">Register</a>
                        </div>
                    </div>
                </header>
            </div>

            <div class="bag-list">
                <div class="bag-item-wrap">
                    <div class="bag-items">
                        <img src="assets/product.png">
                          <div class="bag-item-content">
                              <h1>Name of book</h1>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of
                              </p>
                              
                          </div>
                      </div>
                      <div class="bag-forms">
                        <form action="productpage.html" method="post">
                            <input type="text" name="id"   hidden>
                            <button >Read more</button>
                          </form>
                        <form action="\" method="post">
                            <input type="text" name="id"   hidden>
                            <button >Add to bag</button>
                          </form>
                          <form action="\" method="post">
                            <input type="text" name="id"   hidden>
                            <button>Remove from bookmarks</button>
                          </form>
                      </div>
                     
                   </div>

                   <div class="bag-item-wrap">
                    <div class="bag-items">
                        <img src="assets/product.png">
                          <div class="bag-item-content">
                              <h1>Name of book</h1>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of
                              </p>
                              
                          </div>
                      </div>
                      <div class="bag-forms">
                        <form action="productpage.html" method="post">
                            <input type="text" name="id"   hidden>
                            <button >Read more</button>
                          </form>
                        <form action="\" method="post">
                            <input type="text" name="id"   hidden>
                            <button>Add to bag</button>
                          </form>
                          <form action="\" method="post">
                            <input type="text" name="id"   hidden>
                            <button>Remove from bookmarks</button>
                          </form>
                      </div>
                     
                   </div>
                 

                   <div class="bag-item-wrap">
                    <div class="bag-items">
                        <img src="assets/product.png">
                          <div class="bag-item-content">
                              <h1>Name of book</h1>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of
                              </p>
                              
                          </div>
                      </div>
                      <div class="bag-forms">
                        <form action="productpage.html" method="post">
                            <input type="text" name="id"   hidden>
                            <button >Read more</button>
                          </form>
                        <form action="\" method="post">
                            <input type="text" name="id"   hidden>
                            <button>Add to bag</button>
                          </form>
                          <form action="\" method="post">
                            <input type="text" name="id"   hidden>
                            <button>Remove from bookmarks</button>
                          </form>
                      </div>
                     
                   </div>
            </div>
            </div>

            
            
<div class="black-bg">
    <div class="container">
        <footer>
            <h3 class="logo-text" style="margin-top: 40px">BooKlify</h3>
            <h3 style="margin-top: 40px">© Аll rights reserved</h3>
        </footer>
    </div>
</div>
<script src="assets/main.js"></script>
</body>
</html>