{% extends 'books/base.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <div class="productwrap">
        <div class="product-item-line">
            <div class="product-item-flex">
                <img src="{{book.photo.url}}">
                <h2 style="margin-top:10px ;">{{book.title}}</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="id" value="" hidden>
                    <button>Mark a book</button>
                </form>
            </div>

            <p style="background-color:#ededed;padding: 50px">
                {{book.content}}
            </p>
        </div>
        <div class="product-item-column">
            <div class="product-item">
                <p>Aitu Library</p>
                <p>1.70$</p>
            </div>
            <form action="/" method="post">
                <input type="text" name="id" value="" hidden>
                <button>Add to bag</button>
            </form>
        </div>
        <div class="product-item-column">
            <div class="product-item">
                <p>NU Library</p>
                <p>1.70$</p>
            </div>
            <button>Add to bag</button>
        </div>
        <div class="product-item-column">
            <div class="product-item">
                <p>ENU Library</p>
                <p>1.70$</p>
            </div>
            <button>Add to bag</button>
        </div>
    </div>
</div>

{% endblock %}