{% extends 'books/base.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <div class="productwrap">
        <div class="product-item-line">
            <div class="product-item-flex">
                <img src="{{book.photo.url}}">
                <h2 style="margin-top:10px ;">{{book.title}}</h2>
                
                {% if marked %}
                <a href="{% url 'markbook' book.id %}"><button class="button-marked">Marked</button></a>
                {% else %}
                <a href="{% url 'markbook' book.id %}"><button>Mark a Book</button></a>
                {% endif %}
                
            </div>

            <div  style= "background-color:#ededed;padding: 50px">
                <h3 style="margin-top:20px">Author:{{book.author}}</h3>
                <h3 style="margin-top:10px">Genre: {{book.genr}}</h3>
                <p style="margin-top:10px">
                    {{book.content}}
                </p>
                
            </div>

        </div>
        <div class="product-item-column">
            <div class="product-item">
                <p>Aitu Library</p>
                <p>1.70$</p>
            </div>
            <form action="/" method="post">
                <input type="text" name="id" value="" hidden>
                <button>Add to bag</button>
            </form>
        </div>
        <div class="product-item-column">
            <div class="product-item">
                <p>NU Library</p>
                <p>1.70$</p>
            </div>
            <button>Add to bag</button>
        </div>
        <div class="product-item-column">
            <div class="product-item">
                <p>ENU Library</p>
                <p>1.70$</p>
            </div>
            <button>Add to bag</button>
        </div>
    </div>
</div>

{% endblock %}