{% extends 'books/base.html' %}

{% load static %}

{% block content %}

<div class="wrapper">
    <div class="bag-list">
        <div class="bag-item-wrap">
            <div class="bag-items">
                <img src="{% static 'books/images/product.png' %}">
                <div class="bag-item-content">
                    <h1>Name of book</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply
                        dummy
                        text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply
                        dummy text
                        of
                    </p>
                </div>
            </div>
            <div class="bag-forms">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="id" hidden>
                    <button>Read more</button>
                </form>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="id" hidden>
                    <button>Add to bag</button>
                </form>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="id" hidden>
                    <button>Remove from bookmarks</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}