{% extends 'books/base.html' %}

{% load static %}
{% load socialaccount %}

{% block content %}

<div class="wrapper">
    <div class="container">
        <div class="logo"><img src="{% static 'books/images/logo.png'%}" alt="logo"></div>
        <div class="form-background">
            <h1>Yourr Password Changed Successfully</h1>
    
            <a href="{% url 'login' %}"><button class="form-login-google">Login</button></a>
        </div>
        <!-- <p style="margin-left:439px ;margin-top: 420px">You don't have an account? <a href="{% url 'register' %}">Сreate a new account</a></p> -->
    </div>
</div>


{% endblock %}