{% extends 'books/base.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <div class="bag-list">

        {% for book in books %}
        <div class="bag-item-wrap">
            <div class="bag-items">
                <img src="{{ book.photo.url }}">
                <div class="bag-item-content">

                    <h1>{{book.title}}</h1>
                    <p>{{book.content}}</p>

                    <button style="margin-right: 10px;"><a href="{{ book.get_absolute_url }}">Read more</a></button>
                    
                </div>
            </div>
        </div>        
 
        {% endfor %}
        
    </div>
</div>



{% endblock %}