{% extends 'books/base.html' %}

{% load static %}
{% load socialaccount %}

{% block content %}

<div class="wrapper">
    <div class="container">
        <div class="logo"><img src="{% static 'books/images/logo.png'%}" alt="logo"></div>
        <div class="form-background">
        <form action="" method="post">
            {% csrf_token %}
          
           
                
                {% for f in form %}
                <div class="form-group">
                    {{f}}
                </div>
                    {% if f.errors %}
                        <div style="margin-top: 10px ;padding:10px ;border-color:red;border-radius:15px;border:3px solid black">
                            {{f.errors}}
                        </div>
                    {% endif %}
                {% endfor %}
                {% if form.non_field_errors %}
                <div style="margin: 20px ;padding:10px ;border-color:red;border-radius:15px;border:3px solid black">
                    {{form.non_field_errors}}
                </div>
                {% endif %}
                <button type="submit" class="form-login">Log in</button>
                
        </form>
        <a href="{% provider_login_url 'google' %}"><button class="form-login-google">with Google</button></a>
    </div>
        <p style="margin-left:439px ;margin-top: 420px">You don't have an account? <a href="{% url 'register' %}">Сreate a new account</a></p>
    </div>
</div>

{% endblock %}