{% extends 'books/base.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <div class="product-items">
        <div class="useraccount">
            <img src="{{user.profile.profile_image.url}}">
            <h2 style="text-align: center;margin-top: 10px;">{{user.username}}</h2>
            <p style="text-align: center;">{{user.email}}</p>
        </div>
        <div class="user-item">
            
            <a href="{% url 'bookmarks' %}"><button>Bookmarks</button></a>
                
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button class="inputWrapper">
                    Edit Profile Image
                    {% for f in p_form %}
                    {{f}}
                    {% endfor %}
                </button>
            </form>
            <form action="/" method="post">
                <input type="text" name="id" value="" hidden>
                <button>Change password</button>
            </form>
           
        </div>
    </div>
</div>       

{% endblock %}