{% extends 'books/base.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <div class="product-items">
        <div class="useraccount">
            <img src="{% static 'books/images/product.png' %}">
            <h2 style="text-align: center;margin-top: 10px;">User name</h2>
            <p style="text-align: center;">Email:abcdefg@hijk</p>
        </div>
        <div class="user-item">
            
            <a href="{% url 'bookmarks' %}"><button>Bookmarks</button></a>
                
            <form action="" method="post">
                <input type="text" name="id" value="" hidden>
                <button>Edit photo</button>
            </form>
            <form action="/" method="post">
                <input type="text" name="id" value="" hidden>
                <button>Change password</button>
            </form>
           
        </div>
    </div>
</div>

{% endblock %}