{% extends 'books/base.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <h2 class="searchResults">Search results</h2>
    <div class="bag-list">
        {% for b in books %}
        <div class="bag-item-wrap">
            <div class="bag-items">
                <img src="{{ b.photo.url }}">
                <div class="bag-item-content">
                    <h1>{{b.title}}</h1>
                    <p>
                        {{b.content}}
                    </p>
                    <a href="{{ b.get_absolute_url }}">
                        <input type="text" name="id" hidden>
                        <button style="margin-right: 10px;">Read more</button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}