{% extends 'books/base.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <h2 class="searchResults">Search results</h2>
    <div class="bag-list">
        <div class="bag-item-wrap">
            <div class="bag-items">
                <img src="{% static 'books/images/product.png'%}">
                <div class="bag-item-content">
                    <h1>Name of book</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is
                        simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is
                        simply dummy text of
                    </p>
                    <form action="{% url 'book' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="id" hidden>
                        <button style="margin-right: 10px;">Read more</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}