{% extends 'books/base.html' %}
{% load static %}
{% block content %}

<style>
     h2{
    font-size: 38px;
    font-weight: 300;
    letter-spacing: 4px;
    margin-top: 50px;
    margin-left: 100px;
  }
</style>
<body>

    <nav class="nav" id="nav">
        <div class="close" id="close">✕</div>
        <p></p>
        <a href="main.html">Home</a>
        <a href="userAccount.html">My account</a>
        <a href="">Help</a>
        <a href="">Log out</a>
    </nav>
        <div class="wrapper">
            <div class="container menu-head">
                <header>
                    <div class="menu" id="open">
                        <div class="menu-line"></div>
                        <div class="menu-line"></div>
                        <div class="menu-line"></div>
                    </div>
                    <div class="svg-icons">
                        <form class="search" action="" method="post">
                            <input type="text" name="Searchbox" class="search-box" placeholder="  Search..." autocomplete="off">
                            <input type="submit" name="submit" hidden>
                        </form>
                        <div class="search-container">
                            <a>Search</a>
                        </div>
                        <div class="bag-container" style="text-align: center;">
                            <a href="{% url 'bag' %}">Bag</a>
                        </div>
                        <div class="login-container">
                            <a href="{% url 'login' %}">Login</a>
                        </div>
                        <div class="register-container">
                            <a href="{% url 'register' %}">Register</a>
                        </div>
                    </div>
                </header>
            </div>
            
            <h2 >Search results</h2>

            <div class="bag-list">
                    <div class="bag-item-wrap">
                        <div class="bag-items">
                            <img src="{% static 'books/images/product.png'%}">
                              <div class="bag-item-content">
                                  <h1>Name of book</h1>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of
                                  </p>
                                  <form action="productpage.html" method="post">
                                    <input type="text" name="id"   hidden>
                                    <button style="margin-right: 10px;">Read more</button>
                                  </form>
                              </div>
                          </div>
                       </div>
               
                       <div class="bag-item-wrap">
                        <div class="bag-items">
                            <img src="{% static 'books/images/product.png'%}">
                              <div class="bag-item-content">
                                  <h1>Name of book</h1>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of
                                  </p>
                                  <form action="\" method="post">
                                    <input type="text" name="id"   hidden>
                                    <button style="margin-right: 10px;">Read more</button>
                                  </form>
                              </div>
                          </div>
                       </div>
                  
                       <div class="bag-item-wrap">
                        <div class="bag-items">
                            <img src="{% static 'books/images/product.png'%}">
                              <div class="bag-item-content">
                                  <h1>Name of book</h1>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of
                                  </p>
                                  <form action="\" method="post">
                                    <input type="text" name="id"   hidden>
                                    <button style="margin-right: 10px;">Read more</button>
                                  </form>
                              </div>
                          </div>
                       </div>
            </div>
            </div>

            
{% endblock %}